.emacs.desktop
.mc-lists.el
SessionDesktop.el
elpa/
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
tramp
transient/
url/
*.elc
eshell/history
eshell/lastdir
session.*
backups/
auto-save-list/
/eln-cache/
/elpy/
/tree-sitter/
/projects
/.emacs.desktop.lock
